<!DOCTYPE html>
<html lang="en">
    <head>
        <title>BurgerBoiz</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="https://vuejs.org/js/vue.js" defer></script>
        <script type="text/javascript" src="js/menu.js" defer></script>
        <script src="/socket.io/socket.io.js" defer></script>
        <script type="text/javascript" src="js/js_script.js" defer></script>
        <script type="text/javascript" src="js/vue_script.js" defer></script>
    </head>
    <body>
            <header id="headerz">
                <h1 id="headertext">Welcome to BurgerBoiz </h1>
                <img src="img/BurgerHeader.jpg" id="headerimg">
            </header>
            <main>
                <section id="burgers">
                <h2 id="h2burger">Select a burger</h2>
                <p>This is where to chose a burger</p>
                <div id="menu" class="burgerbox">
                    <div v-for="b in food">
                        <h3>{{ b.name }}</h3>
                        <input type="checkbox" id="burgerCheck" v-model="orderedFood" v-bind:name="b.name" :value="b.name"/>
                        <img class="burgerimg" v-bind:src="b.pathToImg"></img>
                        <ul>
                            <li>{{ b.kcal }} kcal</li>
                            <li  v-if="b.allergies != ''">Contains <span class="allergies">{{ b.allergies }}</span></li>
                        </ul>
                    </div>
                </div>
            </section>
            <section id="order">
            <form id="customerForm">
                <h2>Customer Information</h2>
                <p>This is where to write name and delivery information</p>
                <h3>Delivery Information</h3>

                <p>
                    <label for="fn">Full name</label><br>
                    <input type="text" id="fn" name="fn" required="required" placeholder="First- and last name" />
                </p>
                <p>
                    <label for="street">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail adress" />
                </p>
                <p>
                    <label for="payment">Payment options</label><br />
                    <select id="payment" name="payo">
                        <option selected="selected">Credit card</option>
                        <option>Cash</option>
                        <option>Burger points</option>
                        <option>Paypal</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Gender</label><br/>
                    <input type="radio" id="male" value="male" name="gender"/>
                    <label for="male">Male</label><br/>
                    <input type="radio" id="female" value="female" name="gender"/>
                    <label for="female">Female</label><br/>
                    <input type="radio" id="non-binary" value="non-binary" name="gender"/>
                    <label for="non-binary">Non-binary</label><br/>
                    <input type="radio" id="undisclosed" value="undisclosed" name="gender" checked="checked" />
                    <label for="undisclosed">Undisclosed</label><br />
                </p>
                <div class="view-box">
                    <div id="dots" v-on:click="displayOrder">
                        <div 
                          v-if="order != null"
                          v-bind:style="{ left: order.details.x + 'px', top: order.details.y + 'px'}">
                          T
                        </div>
                    </div>
                </div>
            </form>
            </section>
            <input id="orderButton" type="submit" value="Place order" v-on:click="markDone()"/>
            <p class="finalOrder">    
                {{finalOrder}}
            </p>
        </main>
    <footer>
        <p><span>&#169; 2020 BurgerBoiz</span></p>
        <p>Contact: <a href="mailto:sebastian.fallman.2091@student.uu.se">Sebastian Fällman</a>.</p>
    </footer>
    </body>
</html>