<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- | <link rel="stylesheet" type="text/css" href="css/reset.css"> | Commented out for now -->
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <title>BurgerBoiz</title>
        <meta charset="utf-8"/>
    </head>
    <body>
        <main>
            <section id="headerz">
                <h1 id="headertext">Welcome to BurgerBoiz </h1>
                <img src="img/BurgerHeader.jpg" id="headerimg">
            </section>
            <section id="burgers">
                <h2 id="h2burger">Select a burger</h2>
                <p>This is where to chose a burger</p>
                <table id="burgertable">
                <div class="burgerbox">
                    <div class="r1 c1"><h3>The OG</h3></div>
                    <div class="r1 c2"><h3>Holy Cow</h3></div>
                    <div class="r1 c3"><h3>The Monster Chickenburger</h3></div>
                    <div class="r2 c1"><img class="burgerimg" src="img/TheOG.png"></div>
                    <div class="r2 c2"><img class="burgerimg" src="img/HolyCow.png"></div>
                    <div class="r2 c3"><img class="burgerimg" src="img/TMC.png"></div>
                    <div class="r3 c1">
                        <ul>
                            <li>700kcal</li>
                            <li><span id="allergies">Lactose</span>  free</li>
                            <li>Contains<span class="allergies"> gluten</span></li>
                        </ul>
                    </div>
                    <div class="r3 c2">
                        <ul>
                            <li>900kcal</li>
                            <li>Contains <span id="allergies">lactose</span></li>
                            <li><span class="allergies">Gluten</span> free</li>
                        </ul>
                    </div>
                    <div class="r3 c3">
                        <ul>
                            <li>1500kcal</li>
                            <li>Contains <span class="allergies"> everything</span>.</li>
                        </ul>
                    </div>
                </div>
                </table>
            </section>
            <section id="order">
            <form>
                <h2>Customer Information</h2>
                <p>This is where to write name and delivery information</p>
                <h3>Delivery Information</h3>

                <p>
                    <label for="fn">Full name</label><br>
                    <input type="text" id="fn" name="fn" required="required" placeholder="First- and last name" />
                </p>
                <p>
                    <label for="street">E-mail</label><br>
                    <input type="email" id="email" name="em" required="required" placeholder="E-mail adress" />
                </p>
                <p>
                    <label for="street">Street</label><br>
                    <input type="text" id="street" name="street" required="required" placeholder="Street name" />
                </p>
                <p>
                    <label for="housenumber">House</label><br>
                    <input type="number" id="hn" name="housenumber" required="required" placeholder="House number" />
                </p>
                <p>
                    <label for="payment">Payment options</label><br />
                    <select id="payment" name="payo">
                        <option selected="selected">Credit card</option>
                        <option>Cash</option>
                        <option>Burger points</option>
                        <option>Paypal</option>
                    </select>
                </p>
                <p>
                    <label for="gender">Gender</label><br />
                    <input type="radio" id="male" name="gender" /><label for="male">Male</label><br />
                    <input type="radio" id="female" name="gender" /><label for="female">Female</label><br />
                    <input type="radio" id="non-binary" name="gender" /><label for="non-binary">Non-binary</label><br />
                    <input type="radio" id="undisclosed" name="gender" checked="checked" /><label for="undisclosed">Undisclosed</label><br />
                </p>
            </form>
            </section>
            <input type="submit" value="Place order" />
        </main>
    <footer>
        <p><span>&#169; 2020 BurgerBoiz</span></p>
        <p>Contact: <a href="mailto:sebastian.fallman.2091@student.uu.se">Sebastian Fällman</a>.</p>
    </footer>
    </body>
</html>