@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
body {
    font-family: Roboto, sans-serif;
    font-size: 14pt;
    margin: 0 auto;
}

table {
    margin: 0 auto;
}

h1 {
    margin-left: 20px;
}

.allergies {
    text-transform: uppercase;
    font-weight: bold;
}

#burgers {
    background-color: black;
    color: white;
    overflow: hidden;
    border: 2px dashed white;
    margin: 0px 20px 0px;
}

#order {
    margin: 0px 20px 0px;
    border: 2px dashed black;
    padding-left: 10px;
}

#header {
    margin-left: 20px;
    margin-bottom: 15px;
}

.burgerimg {
    width: 33vw;
    height: 35vh;
}

input[type="submit"] {
    margin-left: 20px;
}

input[type="submit"]:hover {
    color: orchid;
}

#payment:hover {
    color: orchid;
}

a[href], input[type='submit'], input[type='image'], label[for], input[type='radio'], select, button, .pointer {
    cursor: pointer;
}