@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');

body {
    font-family: Roboto, sans-serif;
    font-size: 14pt;
    margin: 0 auto;
}

table {
    width: 100%;
    margin: 0 auto;
}


#headertext {
    position: absolute;
    padding-left: 20%;
    padding-right: 10%;
    padding-top: 6vh;
    padding-bottom: 6vh;
    font-size: 5vw;
    z-index: 999;
}


#headerz {
    margin: 10px 40px;
}

#headerimg {
    opacity: 0.7;
    width: 100%;
    height: auto;
    overflow: hidden;
    z-index: -999;
}


.allergies {
    text-transform: uppercase;
    font-weight: bold;
}

#burgers {
    background-color: black;
    color: white;
    overflow: hidden;
    border: 2px dashed white;
    margin-left: 40px;
    margin-right: 40px;
    padding: 0% 2%;
}

#order {
    margin: 10px 40px 0px;
    border: 2px dashed black;
    padding-left: 10px;
}

.burgerimg {
    max-width: 100%;
    height: 35vh;
}

#orderButton {
    margin-left: 40px;
    margin-top: 10px;
}

input[type="submit"]:hover {
    color: orchid;
}

#payment:hover {
    color: orchid;
}

a[href], input[type='submit'], input[type='image'], label[for], input[type='radio'], select, button, .pointer {
    cursor: pointer;
}

.burgerbox {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.finalOrder {
    padding: 5px 40px;
}

.burgerbox ul {
    text-align: left;
}

.burgerbox h3 {
    text-align: center;
}

body {
	margin: 0;
	padding: 0;
}

.view-box {
	width: 90%;
	height: 50vh;
	margin: 1em auto;
	overflow: scroll;
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}
#dots {
	position: relative;
	margin: 0;
	padding: 0;
	background: url(/img/polacks.jpg);
	background-repeat: no-repeat;
	width:1920px;
	height: 1078px;
	cursor: crosshair;
}

#dots div {
	position: absolute;
	background: black;
	color: white;
	border-radius: 10px;
	width:20px;
	height:20px;
	text-align: center;
}

#orderList {
	top:1em;
	left:1em;
	position: absolute;
	z-index: 2;
	color:black;
	background: rgba(255,255,255, 0.5);
	padding: 1em;
}